@import './common/variables.styl'

.main
  padding: 27px 20px;
  width: "calc(100% - %s)" % offset
  min-height: 100%
  margin-top: offset
  margin-left: offset
  overflow-y: auto
  background-color: site-bg
  font-family: font-quicksand
