/* Use @color-[ColorName]-[Hue]-s[SaturationValue]
  http://www.color-blindness.com/color-name-hue/
*/

color-white-white-s100 = #ffffff
color-gainboro-white-s0 = #e8e8e8
color-white-smoke-white-s0 = #f3f3f3
color-white-white-s0 = #fdfdfd
color-gainsboro-white-s0 = #e4e4e4
color-gainsboro-white-s1 = #e1e1e1
color-shady-lady-gray-s0 = #979797

color-regent-st-blue-blue-s28 = #9cd9cd
color-downy-green-s42 = #7ad6c3
color-medium-aquamarine-blue-s47 = #67c5b2
color-medium-aquamarine-blue-s50 = #62c4b0
color-puerto-rico-green-s47 = #64beac
color-niagara-green-s75 = #2aa88e
color-shamrock-green-s73 = #33c0a3
color-mountain-meadow-green-s89 = #11a88d
color-elf-green-green-s82 = #178770

color-shady-lady-grey-s0 = #979797
color-dim-gray-gray-s0 = #6b6b6b
color-night-rider-grey-s1 = #343333
color-nero-grey-s0 = #272727
color-night-rider-grey-s0 = #323232
color-dim-gray-grey-s0 = #676767
