@import './variables.styl'

.input
  width: 100%
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba(text-light, .4)
  outline: none
  color: text-light
  font-size: 15px
  font-family: font-quicksand
  letter-spacing: -.3px
  &::placeholder
    color: rgba(text-light, .6)
  &:focus
    border-bottom: 1px solid text-light
