@import './common/variables.styl'
@import './common/mixins.styl'

.snippet
  .ace_cursor
    display: none !important
  .ace_gutter
    &-layer
      width: 40px !important
    &-cell
      padding-right: 5px !important
      padding-left: 0
  .ace_scroller
    margin-left: 15px !important
  .ace_content
    width: calc(100% - 15px) !important

.new-snippet .ace_editor
  min-height 100% !important

.react-tags
  display: flex
  width: 47%
  input
    basic-input()
  .react-tags__container
    display: flex
    color: text-light
    li
      border: 1px solid rgba(text-light, .4)
      margin-right: 4px
      padding: 7px
      &:hover
        border-color: text-light
      a
        margin-left: 3px
        cursor: pointer
