@import './common/variables.styl'
@import './common/mixins.styl'

.react-codemirror2,
.CodeMirror
  height: 100% !important
  line-height: 1.4

.new-snippet .react-codemirror2,
.new-snippet .CodeMirror
  color: text-dark !important

.CodeMirror-gutter
  &.CodeMirror-linenumbers
    width: 39px

.CodeMirror-sizer
  margin-left: 39px
  padding-top: 5px

.CodeMirror-gutters
  border-right: none

.snippet .CodeMirror-line
  padding-left: 20px !important

.snippet .CodeMirror-cursor {
  display: none !important
}

.react-tags
  display: flex
  width: 47%
  input
    basic-input()
  .react-tags__container
    display: flex
    color: text-light
    li
      border: 1px solid rgba(text-light, .4)
      margin-right: 4px
      padding: 7px
      &:hover
        border-color: text-light
      a
        margin-left: 3px
        cursor: pointer
