@import 'colors.styl'

site-bg = color-gainboro-white-s0
text-dark = color-night-rider-grey-s1
text-light = color-white-white-s100
text-green = color-niagara-green-s75
text-dark-green = color-elf-green-green-s82
text-grey = color-shady-lady-grey-s0
title-text = color-night-rider-grey-s0

border-light = color-white-smoke-white-s0
border-dark = rgba(color-night-rider-grey-s0, .4)

header-logo-bg = color-shamrock-green-s73
header-main-bg = color-white-white-s100
header-main-bar = color-white-white-s100

sidebar-bg-normal = color-night-rider-grey-s1
sidebar-bg-active = color-nero-grey-s0
sidebar-active-icon = color-puerto-rico-green-s47
sidebar-normal-icon = color-dim-gray-gray-s0

snippet-header-normal = color-niagara-green-s75
snippet-header-light = color-shamrock-green-s73
snippet-header-border = color-mountain-meadow-green-s89
snippet-header-lang-input-bg = color-elf-green-green-s82
snippet-post-button = color-shamrock-green-s73
snippet-post-button-active = color-mountain-meadow-green-s89

snippet-header-green-normal = color-shamrock-green-s73
snippet-content-light = color-white-white-s100

snippet-header-embed-dark = color-gainsboro-white-s1
snippet-header-embed = color-white-smoke-white-s0
snippet-embed-close = color-shady-lady-gray-s0

language-bar-bg-normal = color-white-smoke-white-s0
language-bar-bg-active = color-white-white-s0
language-bar-border = color-gainsboro-white-s0

snippet-border = color-shamrock-green-s73

recent-snippet-tag-bg = color-white-smoke-white-s0
recent-snippet-text = color-dim-gray-grey-s0
recent-snippet-meta = color-charcoal-grey-s0
recent-snippet-lang = color-shamrock-green-s73
recent-snippet-light-button-border = color-gainsboro-white-s0
recent-snippet-light-button-bg = color-white-smoke-white-s0
recent-snippet-light-button-bg-hover = color-gainsboro-white-s1

button-normal = color-medium-aquamarine-blue-s47
button-active = color-shamrock-green-s73
button-light-normal = color-regent-st-blue-blue-s28
button-light-active = color-downy-green-s42
button-inverse-header = color-mountain-meadow-green-s89
button-embed-hover = color-mountain-meadow-green-s89

pagination-bg = color-silver-grey-s0
pagination-bg-inactive = color-gainsboro-white-s1
pagination-text = color-dim-gray-grey-s0

about-us-paragraph = color-dim-gray-grey-s0
about-us-title = color-night-rider-grey-s0
about-us-point = color-shamrock-green-s73
about-us-border = color-shamrock-green-s73
offset = 70px

font-raleway = 'Raleway', sans-serif
font-quicksand = 'Quicksand', sans-serif
font-roboto = 'Roboto', sans-serif

mid-desktop-breakpoint = 1024px
tablet-breakpoint = 768px
mid-tablet-breakpoint = 640px
